In [22]:

import pandas as pd

# Read the csv file
df = pd.read_csv('insurance.csv')

In [31]:
# Head to display the first 5 colunm
print(df.head(5))

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520
Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [33]:
#Display colmunn's name

print(df.columns)

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region', 'charges'], dtype='object')

In [39]:
# Get stats of the dataSet
print(df.describe())

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

In [49]:
# Get unique (s) value(s) on a certain column
print(df["sex"].unique())

['female' 'male']

In [107]:
#Encode 
from sklearn import preprocessing 
le = preprocessing.LabelEncoder()

le.fit(df['smoker'])
df['smoker'] = le.transform(df['smoker']) 

le.fit(df['sex'])
df['sex'] = le.transform(df['sex']) 

le.fit(df['region'])
df['region'] = le.transform(df['region']) 

df

      age  sex     bmi  children  smoker  region      charges
0      19    0  27.900         0       1       3  16884.92400
1      18    0  33.770         1       0       2   1725.55230
2      28    0  33.000         3       0       2   4449.46200
3      33    0  22.705         0       0       1  21984.47061
4      32    0  28.880         0       0       1   3866.85520
...   ...  ...     ...       ...     ...     ...          ...
1333   50    0  30.970         3       0       1  10600.54830
1334   18    0  31.920         0       0       0   2205.98080
1335   18    0  36.850         0       0       2   1629.83350
1336   21    0  25.800         0       0       3   2007.94500
1337   61    0  29.070         0       1       1  29141.36030

[1338 rows x 7 columns]

In [125]:
# Making up the prediction of target based on other parameters

# Defining the target
y = df['charges']

#  Drop the target column
X = df.drop(columns = ['charges'])

In [180]:
from sklearn.linear_model import LinearRegression

# Instanciate LinearRegression

prediction = LinearRegression()

# Fit the data  ( Training the model to predict the 'charge' by a function such as F(x) = a + b n )  n = parameters
# a and b are random number , and it iterrate trought all values of the X (Our dataSet) to find the best A and B that 
# Offer the most reliable result . The aim , here, is to reduce the Error difference beetwen the real value and the predicted value.

reg = prediction.fit(X, y)

#  To get Coef value (n)
reg.coef_

array([ 2.57405034e+02,  3.35198536e-12,  3.32041967e+02,  4.78440467e+02,
        2.38082128e+04, -3.53449131e+02])

In [184]:
# Predict
import numpy as np

# Reshape allow us to reformat the array into one dimension
ary=[[19, 1, 27, 0,11,2]]
ary
result = prediction.predict(ary)
result

/Users/homosapiens/Desktop/anaconda3/lib/python3.12/site-packages/sklearn/base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([263172.41818195])

In [186]:
import joblib

joblib.dump(reg,'linear_regression_model.joblib')
print("Modéle sauvegardé")

Modéle sauvegardé