In [47]:
import pandas as pd
data = {
    'name' : ['Naruto','Pain','Madara'],
    'age':[20, 21, 19],
    'ville': ['Paris','Lyon','Marseille']
}

# Create DataFrame
df = pd.DataFrame(data)

# Dimension
dim = df.shape

In [55]:
# Select the age and ville column
# df[['age', 'ville']]

# df

   age      ville
0   20      Paris
1   21       Lyon
2   19  Marseille

In [63]:
# Select a column by index
nameColumn = df.iloc[:1]
nameColumn

   age  ville
0   20  Paris